<header class="bg-white p-3 my-4 d-flex flex-column flex-md-row mt-xl-0">
    <div>
        <h1>WAT Sport</h1>
        <p class="my-5">
            Nowa kolekcja sportowych ubrań już tu jest!
            Oczywiście ze specjalną zniżką dla studentów z
            co najmniej dwoma warunkami! Nie czekaj i kupuj!
        </p>
        <div class="d-flex align-items-baseline">
            <p>Cena :</p>
            <h3 class="px-2">119.99 zł</h3>
        </div>
        <button routerLink='/shop'
                class="btn btn-outline-secondary">Odwiedź sklep!</button>
    </div>
    <img id="header-img" src="assets/images/wat-shirt.jpg" class="p-3 w-md-50">
</header>