.color-void {
    color: #F6F7FB;
}

.bg-void {
    background-color: #F6F7FB;
}

.color-white {
    color: #FFFFFF;
}

.bg-white {
    background-color: #FFFFFF;
}

.color-grey {
    color: #393D46;
}

.bg-grey {
    background-color: #393D46;
}

.color-greyish {
    color: #F1F2F0;
}

.bg-greyish {
    background-color: #F1F2F0;
}

.color-light-grey {
    color: #EEEEEE;
}

.bg-light-grey {
    background-color: #EEEEEE;
}

