<section id="quality-section" class="bg-grey p-4">
    <h1 class="color-white mb-4">Co oferujemy?</h1>
    <div class="d-flex flex-column flex-md-row">
        <div class="bg-white p-3">
            <i class="fa fa-star fa-3x color-grey"></i>
            <h4 class="py-4">Najlepsza Jakość</h4>
            <p>
                Nasze towary są najlepszej jakości. Są sprowadzane od
                najlepszych dostawców aby zadowolić studentów z całej uczelni.
            </p>
        </div>
        <div class="bg-white p-3">
            <i class="fa fa-usd fa-3x color-grey"></i>
            <h4 class="py-4">Najlepsza Cena</h4>
            <p>
                Nasze ceny dostosowujemy do naszych klientów. Liczymy się z
                tym, że studenci uczelni muszą oszczędzać na warunki :D
            </p>
        </div>
        <div class="bg-white p-3">
            <i class="fa fa-truck fa-3x color-grey"></i>
            <h4 class="py-4">Darmowa dostawa</h4>
            <p>
                Od niedawna zmieniliśmy politykę naszych dostaw.
                Teraz już nie trzeba odbierać towarów w kampusie uczelni.
                Zapewniamy darmową dostawę!
            </p>
        </div>
    </div>
</section>