<section id="news-letter" class="bg-info p-3 my-5 color-white">
    <h1 style="font-weight: bold;">Newsletter</h1>
    <p class="color-white">
        Zapisz się do naszego newslettera, aby otrzymywać informacje
        o nadchodzących nowościach i promocjach!
    </p>
    <div class="d-flex mb-2">
        <input #input type="text" class="form-control" style="max-width: 400px;" placeholder="E-mail">
        <button #submit class="btn btn-warning ms-4">ZAPISZ</button>
    </div>
    <small #error class="text-danger d-none">Adres email jest nieprawidłowy!</small>
</section>