mat-sidenav {
    background-color: #F6F7FB;
    width: 300px;
    height: 100vh;
}

router-outlet {
    display: none;
}

.router-wrapper {
    position: relative;
}

.router-wrapper>* {
    display: block;
}