<mat-sidenav-container>
  <mat-sidenav #sidenav position="end" fixedInViewport=true>
    <!-- Sidenav content -->
    
    <app-sidebar (sidenavToggle)="sidenav.toggle()"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Site content -->

    <app-navigation (sidenavToggle)="toggleSidenav()"></app-navigation>
    <div class="d-flex">
      <app-left-sidebar></app-left-sidebar>
      <div class="m-4 m-xl-0 flex-fill">
        <main class="router-wrapper" [@routeAnimation]="getDepth(outlet)">
          <router-outlet #outlet="outlet"></router-outlet>
        </main>
      </div>
      <div class="d-none sidebar d-xl-block"></div>
    </div>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>