<div class="d-none sidebar d-xl-block">
    <div class="d-flex flex-column align-items-center my-5">
        <div class="contact-icon flex-center color-white" style="background-color: #4064AC;">
            <a class="fa fa-facebook"></a>
        </div>
        <div class="contact-icon flex-center color-white" style="background-color: #79A8CA;">
            <a class="fa fa-linkedin"></a>
        </div>
        <div class="contact-icon flex-center color-white" style="background-color: #00BEF7;">
            <a class="fa fa-twitter"></a>
        </div>
        <div class="contact-icon flex-center color-white" style="background-color: #F1016D;">
            <a class="fa fa-instagram"></a>
        </div>
    </div>
</div>