.image-wrapper {
    width: 100px;
    height: 100px;
    position: relative;
}

button {
    color: white;
    font-weight: bold;
    font-family: monospace,sans-serif;
}

img {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

a {
    font-family: monospace, sans-serif;
    font-size: 1.2rem;
}

span {
    font-family: monospace, sans-serif;
    font-size: 1.2rem;
}

.price-span {
    font-weight: bold;
}

.delete-wrapper {
    border-left: 1px solid grey;
    cursor: pointer;
}

#total {
    font-family: monospace,sans-serif;
}

.main-container {
    overflow: scroll;
}